include ../include/mixin/head

<!DOCTYPE html>
html(lang="en")
  +head
  body
    include ../include/layout/header
    +header('', 'white')
    include ../include/mixin/text-block
    +text-block(
      'О компании',
      [
        'Компания ООО «ГисАльянсСервис» на протяжении 3 лет является одним из основных подрядчиков, выполняющих геофизические исследования и работы в скважинах. ООО «ГисАльянсСервис» надежный партнер, обеспечивающим своевременное и с надлежащие качеством выполнение принятых на себя договорных обязательств. Профессионализм, гибкий подход к пожеланиям Заказчика, оперативность выполнения поставленных задач, внедрение инновационных технологий, характеризуют ООО «ГисАльянсСервис, только с положительной стороны.'
      ]
    )
    include ../include/mixin/picture-block
    +picture-block(`${pathImg}services/services-1`)
    include ../include/services/services-form
    include ../include/layout/footer
    script(src=develop ? `${pathStatics}/app.js` : `${pathStatics}/app${hash}.js`, async=true)

