include ../include/mixin/head

<!DOCTYPE html>
html(lang="en")
  +head
  body
    include ../include/layout/header
    +header
    include ../include/index/index-cap
    +index-cap(
      'Селективная перфорация при многостадийных ГРП',
      'Исследования и спуско-подъемные операции на скважинной нержавеющей проволоке в нефтяных и газовых скважинах, с агрессивной средой и высокими концентрациями'
    )
    include ../include/mixin/text-block
    +text-block(
      'Селективная перфорация при многостадийных ГРП',
      [
        'В классическом варианте при бурении на нефть или газ буровые долота используют для разрушения породы, а потоки промывочной жидкости постоянно очищают забой. В редких случаях для продува используется рабочий реагент газообразного типа.',
        'Бурение в любом случае выполняется вертикально, наклонное бурение применяется только при необходимости, также применяется кустовое, наклонно-направленное, двуствольное или многозабойное бурение.',
        'Углубление скважин выполняют при отборе керна или без такового, первый вариант используется при работе по периферии, а второй – по всей площади. Если керн отбирается, его изучают на предмет пройденных слоев породы, поднимая периодически на поверхность.'
      ]
    )
    include ../include/mixin/picture-block
    +picture-block(`${pathImg}services/services-1`)
    +text-block(
      'Оборудование для проведения работ и технологии',
      [
        'В классическом варианте при бурении на нефть или газ буровые долота используют для разрушения породы, а потоки промывочной жидкости постоянно очищают забой. В редких случаях для продува используется рабочий реагент газообразного типа.',
        'Бурение в любом случае выполняется вертикально, наклонное бурение применяется только при необходимости, также применяется кустовое, наклонно-направленное, двуствольное или многозабойное бурение.',
        'Углубление скважин выполняют при отборе керна или без такового, первый вариант используется при работе по периферии, а второй – по всей площади. Если керн отбирается, его изучают на предмет пройденных слоев породы, поднимая периодически на поверхность.'
      ]
    )
    include ../include/services/activity
    include ../include/services/services-form
    include ../include/layout/footer
    script(src=develop ? `${pathStatics}/app.js` : `${pathStatics}/app${hash}.js`, async=true)
